<p id="notice"><%= notice %></p>

<%= render 'layouts/menu' %><br>

<h1><%= t('Keywords') %></h1>

<table class="list">
<tr>
<td style="vertical-align:top;">
<% pos = (@keywords.size+2) / 3 %>
<% @keywords.each_with_index do |keyword, index| %>
<% if index > 0 && index % pos == 0 then %>
</td><td style="vertical-align:top;">
<% end %>
<%= link_to keyword.keyword, find_keyword_path(keyword.keyword) %><br>
<% end %>
</td>
</tr>
</table>
